@font-face {
  font-family: "Vremena Grotesk";
  src: url("/fonts/VremenaGrotesk.eot");
  src: local("VremenaGrotesk"),
    url("/fonts/VremenaGrotesk.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Vremena Grotesk";
  src: url("/fonts/VremenaGroteskMedium.eot");
  src: local("VremenaGroteskMedium"),
    url("/fonts/VremenaGroteskMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
// @font-face {
//   font-family: "Vremena Grotesk";
//   src: url("/fonts/Cygre-SemiBold.eot");
//   src: local("Cygre-SemiBold"),
//     url("/fonts/Cygre-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
// }
